:host{
    display: block;
   max-width: 100%;
   max-height: 100%;
   font-family: sans-serif;
}
*{
    box-sizing: border-box;
}
.grid-auto-col{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
    gap: 15px;
}
.media-wrapper{
    object-fit: cover;
    height: 100%;
}
img{
    width: 100%;
    
}
.card-content-wrapper{
    // padding: var(--card-content-wrapper, 20px 15px);
    padding: var(--content-wrapper-padding,0);
    display: grid;
    grid-template-columns: 1fr;
    min-width: 250px;
    max-width: 700px;
    max-height: 100%;
    align-self: var(--card-content-align, center);
    gap: 15px;
}
::slotted(h1),::slotted(h2),::slotted(h3),::slotted(h4),::slotted(h5),::slotted(h6),::slotted(p){
    margin: 0;
    height: fit-content;
}
::slotted(h1){
    font-size: 40px;
    text-transform: uppercase;
}